<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=0d6f9fcc-9abd-4c40-9e85-a5810042195b.sqlserver.sequelizer.com;Database=db0d6f9fcc9abd4c409e85a5810042195b;User ID=rdbyekufdogwawdj;Password=XnJw7m8rD5TocuH3iGfm4uo3SmCSv3ehDVrAPCFCiUAoNHjV8vTBW6AB7PMTRp4K;"/>
  </connectionStrings>
</configuration>
